button,
.btn
  outline: none
  cursor: pointer

.btn
  background: #424242
  color: #fff
  text-transform: uppercase
  letter-spacing: 0.1em
  text-decoration: none
  border: 1px solid transparent
  height: $btn-md-size
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  padding: 0 12px
  cursor: pointer

  &-lg
    font-size: 15px
    height: $btn-lg-size

  &-sm
    font-size: 14px
    height: $btn-sm-size

  &:hover,
  &:focus
    background: #000
    color: #fff
    text-decoration: none

  &-primary
    background-image: linear-gradient(-180deg, #56BAF9 0%, #2E9ADE 100%)
    background-repeat: no-repeat
    border: 1px solid #377AA3
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.50)
    border-radius: 4px
    color: $white
    font-weight: 700
    letter-spacing: 0
    padding-left: 18px
    padding-right: 18px

    &:hover,
    &:focus
      background-image: linear-gradient(-180deg, #2cadff 0%, #2485c1 100%)
      background-repeat: no-repeat
      color: $white

  &-secondary
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #EBEBEB 100%)
    background-repeat: no-repeat
    border: 1px solid #bfbfbf
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.50)
    border-radius: 4px

    color: #4D4D4D

    &:hover,
    &:focus
      background-image: linear-gradient(-180deg, #f1f1f1 0%, #d8d8d8 100%)
      background-repeat: no-repeat
      color: #4D4D4D

  &-input
    background-color: $white
    color: lighten($gray-light, 25%)
    border: 1px solid $gray-lighter

    &:hover,
    &:focus
      background-color: $white
      // border-color: $brand-primary
      // color: $brand-primary

  &.disabled,
  &[disabled]
    opacity: 0.6
    pointer-events: none
