.card
  min-height: 200px
  color: #fff
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  justify-content: center
  background: linear-gradient(-90deg, #ed008d 0%, #a1307f 100%) // $brand-primary

.card__image
  width: 100%

.card__body
  width: 100%
  display: flex
  flex: 1
  flex-direction: column
  text-align: center
  align-items: center
  justify-content: center
  padding: 20px

.card__button
  margin-top: auto
