.foot
  background: #363636
  padding-top: 40px
  padding-bottom: 40px

  &__column + &__column
    @include media-breakpoint-down(md)
      margin-top: 45px // consistant with .sitemap__column -- TODO: refactor?

  &__wrapper
    border-bottom: 1px solid #ebebeb
    border-top: 1px solid #ebebeb
    padding: 57px 0

  &__title
    @include block-title
    letter-spacing: .1em

    @include media-breakpoint-down(md)
      margin-bottom: 15px // consistant with .widget__title -- TODO: refactor?

  &__content
    color: #aaa
    font-size: 13px
    line-height: 26px
    margin: 0

  .social-icons
    margin-top: 20px

  .social-icons__item
    background: $gray-lightest
    color: #bfbfbf
    width: 32px
    height: 32px
    transition: all .3s ease-in-out
    border-radius: 50%

    &:hover,
    &:focus
      background: $gray
      color: #fff
      text-decoration: none

.bottom-foot
  padding: 21px 0
  font-size: 13px
  line-height: 32px
  color: $body-color
