label
  display: inline-block
  margin-bottom: .5em

textarea,
input
  outline: none
  color: #222
  border: 1px solid #bfbfbf
  border-radius: 4px
  box-shadow: none
  font-size: 15px
  padding: 3px 0.75em

  &:focus,
  &:active
    border-color: $brand-primary

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none

.custom-select
  background: $custom-select-indicator no-repeat right 12px center, linear-gradient(-180deg, #fff 0%, #ebebeb 100%)
  border: 1px solid #c2c2c2
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.50)
  border-radius: 4px
  height: 44px

.form-control
  border-color: $gray-lighter

  &::placeholder
    color: #ababab

  &:focus
    border-color: $brand-primary
