.heading
  .container
    display: flex
    align-items: center

  &__wrapper
    background-image: linear-gradient(-90deg, #a1307f 0%, #ed008d 50%, #a1307f 100%)
    display: flex
    align-items: center
    min-height: 120px
    color: #fff

  &__search-bar
    flex: 0 1 auto
    align-items: center

  &__logo
    flex: 1 1 auto
    align-self: center
    text-align: center
    font-size: 32px
    font-weight: 700
    letter-spacing: -0.035em
    color: #fff

    &:hover
      color: #ffc3e7

  &__cart
    flex: 0 1 auto

  @include media-breakpoint-down(md)
    &__logo
      order: 1
      flex: 0 0 auto
      margin-right: auto

    &__mobile-cart
      order: 2

    &__mobile-menu-toggle
      order: 3
