.navigation
  background: #242424

  @include media-breakpoint-down(md)
    display: none

    &.is-active
      display: block
      margin-bottom: 70px

  &__menu
    margin: 0
    padding: 0
    display: flex
    flex: 1
    justify-content: center
    align-items: center
    min-height: 45px
    list-style: none

    @include media-breakpoint-down(md)
      flex-direction: column
      align-items: stretch
      margin: 40px 0

  &__item
    list-style: none

  &__mobile-items
    list-style: none
    padding: 0
    margin: 0

  &__mobile-item
    & + &
      border-top: 1px solid #ebebeb

  &__mobile-link
    padding: 15px
    display: block
    color: #fff
    text-transform: uppercase
    border-bottom: 1px solid #ebebeb

    &:hover,
    &:focus
      color: #fff
      text-decoration: none
