@mixin status-icon($color, $background)
  .icon--progress
    background-color: $background
    border-color: $color
    i.fa
      color: $color

.order-progress
  $status-warn: #c4a667
  $status-warn-background: #faf8f0
  $status-info: #67c1c4
  $status-info-background: #f0fafa
  $status-success: #88be68
  $status-success-background: #f6fcf2
  $status-danger: #e95c5c
  $status-danger-background: #faefee

  &__container + &__container
    margin-top: 2rem

    @include media-breakpoint-down(sm)
      margin-top: 1rem

  &__event,
  &__bank-details
    color: #000000
    border: 2px solid gray
    background-color: #ffffff
    padding: 1rem

  &__event
    $icon-size: 40px
    $icon-font-size: 16px
    $event-body-padding-top: $icon-font-size/2
    display: flex

    &:not(:last-child)
      border-bottom: 1px dashed #e0e0e0

    &:not(:first-child)
      border-top: none

    .icon--progress
      width: $icon-size
      height: $icon-size
      font-size: $icon-font-size
      border: 2px solid lightgray
      background-color: gray
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center

    &--purchase
      @include status-icon($status-warn, $status-warn-background)

    &--payment,
    &--payment-accepted,
    &--order-complete
      @include status-icon($status-success, $status-success-background)

    &--awaiting-payment-accept,
    &--awaiting-shipment
      @include status-icon($status-info, $status-info-background)

    &--payment-rejected
      @include status-icon($status-danger, $status-danger-background)

    &__body
      flex: 1
      padding: 1rem
      padding-top: $event-body-padding-top
      min-width: 0

      span.key
        border-bottom: 1px dotted #88be68

      .action
        margin-top: 15px
