.page
  padding: 0 0 40px

  &__wrapper
    display: flex

    @include media-breakpoint-down(sm)
      flex-wrap: wrap

  &__main
    flex: 1 0 auto
    width: calc(100% - 250px - 50px)
    padding: $page-padding-top 0 40px
    margin-left: 50px
    order: 2
    margin-bottom: 50px

    @include media-breakpoint-down(sm)
      margin-left: 0
      width: 100%

  &__alt
    background: #e5e5e5
    flex: 1 0 auto
    width: 250px
    padding: 20px
    order: 1

    @include media-breakpoint-down(sm)
      width: 100%
