.page--cart
  th,
  td
    vertical-align: middle

.page-cart
  &__table
    margin: 0

  &__head
    border-bottom: 1px solid #ebebeb

  &__header
    font-size: 14px
    font-weight: 700
    color: $gray
    padding: 13px 18px
    text-transform: uppercase

  &__item
    & + &
      border-top: 1px solid #ebebeb

  &__name
    font-size: 15px
    line-height: 14px
    color: $gray
    margin-bottom: 10px
    display: inline-block
    cursor: pointer

    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  &__code
    font-size: 13px

  &__item__image
    width: 100px
    height: auto
    min-width: 50px

  // TODO: extract? as reused inside product page
  &__quantity
    display: flex

  &__quantity-input
    width: 40px
    height: 32px
    text-align: center
    margin-left: 0.5em
    margin-right: 0.5em

    &:hover,
    &:active
      z-index: 2

  &__quantity-plus.btn-input,
  &__quantity-minus.btn-input
    @extend .btn-secondary
    display: flex
    width: 32px
    height: 32px
    justify-content: center
    align-items: center

    &:hover,
    &:active
      z-index: 2

  &__quantity-minus
    margin-right: -1px

  &__quantity-plus
    margin-left: -1px

  &__subtotal
    font-weight: 700

  &__remove
    display: inline-block
    width: 20px
    height: 20px
    background: $gray-lightest
    color: $body-color
    text-align: center
    cursor: pointer

    &:hover
      background: $brand-primary
      color: #fff

  &__actions
    display: flex
    justify-content: flex-end
    margin-bottom: 50px
    padding-top: 1em
    border-top: 2px solid #eceeef

  &__shipping__title
    color: #000
    margin-bottom: 15px
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: .1em

  &__shipping__select-option
    margin-bottom: 20px

.shopping-cart
  &__title
    color: #000
    margin-bottom: 15px
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: .1em

  &__data tr:first-child th,
  &__data tr:first-child td
    border-top: 0

  &__totals
    color: $gray

  &__totals th
    font-weight: 400
    padding-left: 0

  &__totals td
    text-align: right
    padding-right: 0

  &__grandtotal th,
  &__grandtotal td
    font-weight: 700
