$page-title-size: 24px
$page-title-space: 57px
.page-title
  &__body
    display: flex
    margin: 30px -15px

    &:after
      flex: 1
      content: ''
      margin-left: 6px
      background: #e5e5e5

  &__title
    display: inline-block
    margin: 0
    font-size: $page-title-size
    color: #fff
    font-weight: 700
    line-height: 1.2
    text-align: center
    padding: 15px
    text-transform: uppercase
    background-image: linear-gradient(-90deg, #ed008d 0%, #a1307f 100%)

    @include media-breakpoint-down(sm)
      padding: #{$page-title-space * 0.65} 0

  &__subtitle
    margin: 0
    font-size: #{$page-title-size * 0.6}
    color: $gray-light
    font-weight: 400
    line-height: 1.2
    text-align: center
    padding: 0
    text-transform: uppercase
    letter-spacing: 0.08em
    padding-bottom: $page-title-space

    @include media-breakpoint-down(sm)
      padding-bottom: #{$page-title-space * 0.65}

  &__title + &__subtitle
    @include media-breakpoint-down(sm)
      margin-top: -#{$page-title-space * 0.65}
