.pagination
  display: flex

  &__count
    flex: 0 1 auto
    margin-right: auto

  &__pager
    flex: 0 1 auto
    display: flex

  &__page
    @extend .btn-secondary

    display: flex
    width: $btn-lg-size
    height: $btn-lg-size
    justify-content: center
    align-items: center
    font-size: 18px
    line-height: 1

    & + &
      margin-left: 0.75em

    &.is-disabled
      pointer-events: none
      opacity: 0.45

    &.is-current
      width: auto
      padding: 0 10px
      background: #fff
      border: none
      color: $gray
