$product-grid-item-spacing: 1em
.product-grid

  &__actions
    display: flex
    margin-top: 1em
    margin-bottom: 2em

    & *
      margin-right: 1em

    & *:last-child
      margin-right: 0

  &__result
    display: flex
    align-items: center
    margin-right: auto

  &__pagination
    display: flex
    justify-content: space-between

  &__items
    display: flex
    flex-wrap: wrap
    margin: 0 -#{$product-grid-item-spacing / 2}

  &__item
    width: calc(#{(100/$products-products-in-grid-row)}% - #{$product-grid-item-spacing})
    margin-left: $product-grid-item-spacing / 2
    margin-right: $product-grid-item-spacing / 2

    @if ($products-products-in-grid-row > 1)
      @include media-breakpoint-only(sm)
        width: calc(50% - #{$product-grid-item-spacing})


    @include media-breakpoint-down(xs)
      width: calc(100% - #{$product-grid-item-spacing})
