.product-widget
  margin: 0
  padding: 0
  list-style: none

  & + &
    margin-top: 10px

  &__link
    display: flex
    align-items: flex-start

    @include media-breakpoint-down(lg)
      flex-direction: column

  &__link:hover,
  &__link:focus
    text-decoration: none

  &__link:hover &__price,
  &__link:focus &__price
    color: darken($gray, 20%)
    color: #fff

  &__image-wrapper
    position: relative
    z-index: 1
    flex: 1 0 auto
    width: 75px
    border: 4px solid #fff

    @include media-breakpoint-down(lg)
      width: 100%

  &__image
    width: 100%

  &__content
    position: relative
    margin-top: 12px
    margin-left: -15px
    background: $brand-primary
    background: linear-gradient(-90deg, #a1307f 0%, #ed008d 100%)
    border: 4px solid #fff
    padding: 8px
    padding-left: 8px + 15px
    font-size: 12px
    line-height: 1.25

    &:hover
      background: linear-gradient(-90deg, #a1307f 0%, #ed008d 100%)

  &__name
    color: #fff

    @include media-breakpoint-down(lg)
      margin: 10px 0 0
      display: block

  &__price
    color: #fff
    font-weight: 700

    & ins
      text-decoration: none
