.product-overview
  $block: &

  &__title
    color: $gray
    font-size: 30px
    text-transform: uppercase
    letter-spacing: .1em
    margin-bottom: 30px

  &__variant
    margin-bottom: 30px

  &__price--old
    font-size: 20px
    margin-right: .5em
    color: lighten($gray-light, 25%)

  &__price
    font-size: 25px
    color: $gray

  &__price--current
    text-decoration: none

  &__description
    margin: 25px 0
    font-size: 15px

  &__actions
    list-style: none
    margin: 0 0 30px
    padding: 0
    display: flex
    justify-content: flex-start

  &__action
    flex: 0 0 auto

    & + &
      margin-left: 1em

  &__wishlist
    width: $btn-lg-size
    height: $btn-lg-size
    display: flex
    justify-content: center
    align-items: center

    & i::before
      font-size: 16px
      font-family: FontAwesome
      content: '\f004'

  // TODO: extract? as reused inside page cart
  &__quantity
    display: flex

    #{$block}__action + &
      margin-left: auto

  &__quantity-input
    width: $btn-lg-size
    height: $btn-lg-size
    text-align: center
    margin-left: 0.75em
    margin-right: 0.75em

    &:hover,
    &:active
      z-index: 2

  &__quantity-plus.btn-input,
  &__quantity-minus.btn-input
    @extend .btn-secondary

    display: flex
    width: $btn-lg-size
    height: $btn-lg-size
    justify-content: center
    align-items: center
    font-size: 18px
    line-height: 1

    &:hover,
    &:active
      @extend .btn-secondary
      z-index: 2

  &__meta
    font-size: 16px
    line-height: 1.1

  &__meta-title
    line-height: 28px
    color: $gray
    font-weight: 700

    &:after
      content: ':'

  &__meta-value
    color: $body-color

  &__meta-value[href],
  &__meta-tag-link[href]
    border-bottom: 2px solid $brand-primary

  &__meta-category &__meta-value
    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  &__meta-tag
    & + &
      &:before
        content: ', '

  &__meta-tag-link
    color: $body-color

    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  .social-icons
    margin-top: 20px

  .social-icons__item
    background: $gray-lightest
    color: #bfbfbf
    width: 32px
    height: 32px
    transition: all .3s ease-in-out
    border-radius: 50%

    &:hover,
    &:focus
      background: $gray
      color: #fff
      text-decoration: none
