.sidebar

  &__title
    color: $title-color
    text-transform: uppercase
    margin-bottom: 30px
    font-size: 14px
    letter-spacing: .1em

    @include media-breakpoint-down(md)
      margin-bottom: 15px

  &__list
    list-style: none
    margin: 0
    padding: 0

  &__list__item + &__list__item
    padding-top: 12px

  &__list__link
    color: $body-color

    .sidebar__list__item.is-active &
      color: #000

    &:hover,
    &:focus
      color: $brand-primary

    &:hover,
    &:focus
      text-decoration: none
