.tabs
  $block: &

  &__nav
    background: #E5E5E5
    margin: 0
    padding: 0
    list-style: none
    display: flex

  &__nav-item
    border-top: 4px solid #AEAEAE
    border-bottom: 5px solid #E5E5E5

    & + &
      margin-left: 5px

    &.is-active
      border-top-color: $brand-primary
      border-bottom-color: #fff

    &.is-active #{$block}__nav-link,
    &.is-active #{$block}__nav-link:hover
      color: $brand-primary

  &__nav-link
    background: #fff
    cursor: pointer
    padding: 14px 20px 13px
    display: block
    color: $body-color
    font-size: 16px
    text-transform: uppercase

  &__content
    padding-top: 24px
