// TODO:
// extract colors
// convert font-sizes to rem

.widget
  @include media-breakpoint-down(sm)
    & .btn
      width: 100%
      padding-top: 10px
      padding-bottom: 10px
      height: auto

  & + &
    margin-top: 50px

    @include media-breakpoint-down(sm)
      margin-top: 30px

  &__title
    @include block-title

    @include media-breakpoint-down(md)
      margin-bottom: 15px // consistant with .foot__title -- TODO: refactor?

  &__list
    list-style: none
    margin: 0
    padding: 0

    @include media-breakpoint-down(sm)
      display: flex
      justify-content: space-around
      align-items: center
      flex-wrap: wrap

  &__list-item + &__list-item
    padding-top: 5px

    @include media-breakpoint-down(sm)
      padding-top: 0

  &__list-link
    color: $body-color
    font-weight: 500

    .widget__list-item.is-active &
      color: #000

    &:hover,
    &:focus
      color: #000

    &:hover,
    &:focus
      text-decoration: none

  &__tags
    display: flex
    flex-wrap: wrap

  &__tag
    @include block-title
    flex: 0 1 auto
    letter-spacing: .1em
    line-height: 1
    margin: 0 10px 10px 0
    font-size: 13px
    transition: all .3s ease-in-out
    cursor: pointer

    &:hover,
    &:focus
      background-color: $brand-primary
      color: #fff
      text-decoration: none

  &__show-more
    margin: 10px 0

    @include media-breakpoint-down(sm)
