@mixin search
  &__form
    position: relative
    display: flex
    height: 45px
    background: #fff
    border-radius: 3px

  &__input
    margin-left: 45px
    background-color: transparent
    border: 0
    color: #555
    font-size: 16px
    font-family: Maven Pro, sans-serif
    padding: 0 16px 0 0

    ::placeholder
      color: #c9c9c9

  &__button
    border: 0
    background: transparent
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 45px
    cursor: pointer
    color: #c9c9c9
    font-size: 20px
    line-height: 1

    &:hover
      color: #222

    // replaces the custom search icon with FontAwesome's
    .icon_search
      @extend .fa
      @extend .fa-search

      &::before
        font-family: inherit
