.page--contact
  padding-top: 0

  .address-box .widget__title
    display: none

  &__contact-elements
    display: flex
    flex-wrap: wrap
    flex-direction: row
    padding: 0.5rem 0.2rem
    justify-content: space-between

    @include media-breakpoint-up(sm)
      padding: 2rem 0.5rem

    @include media-breakpoint-down(sm)
      flex-direction: column
      align-items: center

    @include media-breakpoint-up(md)
      padding: 0rem 1rem 4rem 1rem

  &__contact-element
    order: 1
    width: 100%
    margin: 0
    margin-top: 20px

    @include media-breakpoint-down(sm)
      &:first-child
        margin-top: 0

    @include media-breakpoint-up(sm)
      width: 50%

    @include media-breakpoint-up(md)
      width: 25%
      margin-left: 1rem

    &--address,
    &--social,
    &--hours
      order: 0
      flex: 1 1 auto

      & .page--contact__subtitle
        font-size: 24px

      & dt,
      & dd,
      & .address-box__address,
      & .address-box__phone,
      & .address-box__email
        margin-bottom: 0.5em

      @include media-breakpoint-up(sm)
        order: 1

    &--hours dl
      display: flex
      flex-wrap: wrap

    &--hours dt:after
      content: ': '

    &--hours dt,
    &--hours dd
      flex: 1 0 50%
      width: 50%

  .social-icons
    justify-content: space-around
    flex-direction: row
    height: 5rem

    @include media-breakpoint-up(sm)
      height: 7rem
      flex-direction: column
      justify-content: space-between

    @include media-breakpoint-up(md)
      justify-content: flex-start

  .social-icons__item
    margin-bottom: 0.7rem
    justify-content: flex-start
    text-decoration: none
    margin: 0
    width: auto

  .social-icons__item + .social-icons__item
      margin-top: 0.5em !important

  .social-icons__item i
    color: $title-color
    width: 26px
    text-align: center

    // overwrites the margin on the line icon
    &:before
      margin: 0

    @include media-breakpoint-down(sm)
      font-size: 20px

  .social-icons__network
    display: none

    @include media-breakpoint-up(sm)
      display: inherit
